<div class="wrapper">
  <h1 id="title">To do list</h1>
  <div id="forms">

    <section id="new-todo-form">
      <form [formGroup]="newTodoForm" (ngSubmit)="onSubmit()">
          <div class="label"><label for="newtodo"><h2>Add a new task: </h2></label></div> 
          <div class="input"><input formControlName="todoTitle" type="text" id="newtodo" placeholder="New to do..."></div> 
          <div class="btn">
            <button [disabled]="newTodoForm.invalid" id="new-todo-btn">Add</button>
          </div>
      </form>
    </section>

    <section id="filter">
      <form id="filter-form">
          <div class="label"><label for="filter">Filter tasks: </label></div>
          <div class="input"><input [(ngModel)]="searchValue" type="text" name="filter" id="filter" placeholder="Type keyword..."></div>
      </form>
    </section>
  </div>

<app-todoitem [todo]="todo" *ngFor="let todo of todoList$ | async | filter:searchValue"></app-todoitem>
</div>